<!DOCTYPE html>
<html>

<head>
  <script src="lib/phaser.min.js"></script>

  <script src="game/assetsPreload.js"></script>
  <script src="game/entities/player.js"></script>
  <script src="game/entities/monkeys.js"></script>
  <script src="game/HUD/proggeesbar.js"></script>
  <script src="game/HUD/scoreBar.js"></script>
  <script src="game/game.js"></script>

  <style>
    canvas {
      display: block;
      margin: auto;
      border: 5px solid red;
    }
  </style>
</head>

<body>
</body>

</html>